{% extends 'main.html' %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <div style="width:400px; margin:0 auto;">

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label >Email адрес</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label >Имя пользователя</label>
                {{ form.username}}
            </div>
            <div class="form-group">
                <label >Пароль</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label >Повторите пароль</label>
                {{ form.password2 }}
            </div>
            <div>&nbsp;</div>
            <div>
                {% for error in form.errors.values %}
                    <p>
                        {{ error }}
                    </p>

                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

        </form>
    <div>
            Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>


{% endblock %}
