{% extends 'main.html' %}
{% block title %}
    {{ service.title }}
{% endblock %}
{% block content %}

    <div style="width:400px; margin:0 auto;">
        <h1>{{ service.title }}
            {% if request.user.groups.all.0.name == 'admin' %}
                <a class="btn btn-secondary" href="{% url 'update_service' service.id %}" role="button"><i class="far fa-edit"></i></a>
            {% endif %}
        </h1>
        <img class="img-fluid" src="{{ service.picture.url }}">
        <h3>{{ service.desc }}</h3>
        <a class="btn btn-primary" href="{% url 'create_order' service.id %}" role="button">Оставить заявку</a>
        <br>&nbsp;<br>
        <a class="btn btn-success" href="{% url 'create_feedback' service.id %}" role="button">Оставить/изменить отзыв</a>
        <hr align="center" width="100%" size="10"  />
        <h3>Отзывы</h3>
        <hr align="center" width="100%" size="10"  />
        {% if not feed%}
            <h3>Нет отзывов</h3>
        {% else %}
            {% for comm in feed %}
                <h5>{% if comm.user.user.get_full_name %}
                    {{ comm.user.user.get_full_name }}
                    {% else %}
                    {{ comm.user.user.username }}
                {% endif %}</h5>
                <br>
                {{ comm.text }}
                <hr align="center" width="100%" size="3"  />



            {% endfor %}
        {% endif %}
    </div>

{% endblock %}